{% extends "inicio.html" %}

{% block title %}Perfil{% endblock %}

{% block content %}

<h2>Mi Perfil</h2>

<p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
<p><strong>Apellido:</strong> {{ usuario.apellido }}</p>
<p><strong>Email:</strong> {{ usuario.email }}</p>
<p><strong>Género:</strong> {{ usuario.genero }}</p>
<p><strong>Experiencia:</strong> {{ usuario.experiencia }}</p>
<p><strong>Objetivo:</strong> {{ usuario.objetivo }}</p>
<p><strong>Alergias:</strong> {{ usuario.alergias }}</p>
<p><strong>Intolerancias:</strong> {{ usuario.intolerancias }}</p>
<p><strong>Dieta:</strong> {{ usuario.dieta }}</p>
<p><strong>No le gusta:</strong> {{ usuario.no_gusta }}</p>


<a href="/formulario">Editar Perfil </a>





{% endblock %}